workflow.json/chatbotV1.json
{
  "name": "chatbotV1",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋  \nSou o Assistente Virtual da Biodinâmica, pronto para te ajudar com informações internas, dúvidas sobre processos, documentos, sistemas e muito mais.",
        "options": {
          "subtitle": "",
          "title": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        416,
        -48
      ],
      "id": "cf70a54a-db14-4fe1-ad61-6173776ef010",
      "name": "When chat message received",
      "webhookId": "d2ae52db-b30e-44ee-bbd2-e1caf007c4ba"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Você é um assistente virtual da Biodinâmica, uma Químico Farmacêutica fabricante de produtos odontológicos. Seu foco é fornecer informações estritamente relacionadas aos produtos, processos e à própria Biodinâmica (bulas, especificações técnicas, dados de segurança, etc.). Seu objetivo é auxiliar clientes e o público externo com informações precisas e claras.\n\nRegras de conduta:\n- Responda apenas sobre assuntos relacionados à Biodinâmica (produtos odontológicos, bulas, suporte, a própria empresa, etc.). Para perguntas aleatórias, externas ou que não sejam relacionadas, responda educadamente que seu foco é exclusivo em informações da Biodinâmica.\n- Interpretação Flexível: Ao receber uma pergunta, interprete a intenção do usuário. Procure por documentos com significado semelhante na Base de Dados.\n- Responda sempre de forma educada, respeitosa e profissional.\n- Use linguagem formal, clara e acessível ao público.\n- Quando for um assunto técnico, explique de forma detalhada e objetiva.\n- Nunca invente informações. Caso não saiba a resposta com base nas informações disponíveis (a Base de Dados), diga: “Essa informação não está disponível no momento. Por favor, entre em contato com o Atendimento ao Cliente da Biodinâmica para um suporte mais detalhado.”\n\n- **Formatação de Links OBRIGATÓRIA:** Todo e qualquer link (URL) obtido da Base de Dados deve ser formatado APENAS com a tag HTML de âncora (<a>), incluindo target='_blank' para abrir em uma nova aba. É PROIBIDO usar formatação de links em Markdown (como [texto](url)). A formatação deve ser um elemento HTML completo, mesmo dentro de listas ou tópicos.\n\n  Exemplo OBRIGATÓRIO: 'acesse o site neste <a href=\"http://www.site.com\" target=\"_blank\">link aqui</a>'.\n\n- Sempre que possível, resuma a resposta em tópicos organizados.\n\nVocê tem acesso a Base de Dados de Produtos (bulas, especificações, etc.) para consultar, execute a tool Base de Dados.\n\nMantenha sempre um tom proativo, prestativo e focado no cliente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        832,
        -48
      ],
      "id": "d3de8df4-09c6-42f3-b62e-f6f32da56bd0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a779123-a020-47ae-ae17-3ee469e8cfe5",
              "name": "text",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -192
      ],
      "id": "12867d04-55e8-4a74-8af2-fab798d8c32a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"content\": \"{{ $json.text }}\"\n    }\n  ]\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1488,
        16
      ],
      "id": "30bf9968-eb67-4207-a7a2-013d9f6ecd8a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc0c0c8e-ec25-460d-ac1d-83960886da00",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -208
      ],
      "id": "c4da4d77-520d-4c67-8c63-490d99b11e9b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Base de Dados",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        992,
        176
      ],
      "id": "ebed07c1-8edc-4212-a218-7d5324ae6e22",
      "name": "Base de Dados",
      "credentials": {
        "supabaseApi": {
          "id": "nwrWKqMdHdJsQq0I",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        160
      ],
      "id": "c6d6a2b5-1308-43fd-ad24-2020898aab8d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Uczgu3IOIeClEYl9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        352
      ],
      "id": "a2e4aa99-0587-4244-b590-7b7171c5d3fb",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "Uczgu3IOIeClEYl9",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base de Dados": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Base de Dados",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "127ee149-0106-4a62-8705-ce900cb68406",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7d7cc7c99f3590112d0e66b8873c6d63f4bfdd5a8c03f41710a3ed40c077aeb"
  },
  "id": "XgolkLD6VLLc14p8",
  "tags": []
}